body {
  margin: 0;
  padding: 0;
}

.box-1 {
  height: 100vh;
  width: 100%;
  background-image: url(img/img1.jpg);
  background-size: cover;
  background-position: center;
  /* display: table; */
  background-attachment: fixed;
}

.box-2 {
  height: 100vh;
  width: 100%;
  background-image: url(img/img2.jpg);
  background-size: cover;
  background-position: center;
  /* display: table; */
  background-attachment: fixed;
}

.box-3 {
  height: 100vh;
  width: 100%;
  background-image: url(img/img3.jpg);
  background-size: cover;
  background-position: center;
  /* display: table; */
  background-attachment: fixed;
}

h1 {
  color: white;
  font-size: 48px;
  /* display: table-cell; */
  vertical-align: middle;
  text-align: center;
}
